form {
  .error {
    @extend .invalid-feedback;
    display: block;
  }
}

.login-form {
  display: flex;
  justify-content: center;
  height: 100%;
  &__inner {
    margin: 20vh auto auto;
    padding: 40px;
    width: 440px;
    background: #fff;
    border: solid 10px #f5f2ea;
    > p {
      @include small-text;
      margin-bottom: 40px;
      text-align: center;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    img {
      width: 250px;
    }
  }
  &__button-wrapper {
    display: flex;
    margin-top: 30px;
    a {
      @include small-text;
      margin-left: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .login-form {
    &__inner {
      width: 90%;
    }
  }
}
