@import "../../assets/scss/bootstrap-common";

.bulk-record {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 0 0 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;

  &__account {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__account-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-top: 5px;
    border-radius: 10px;
    color: $primary;
    svg {
      position: absolute;
      font-size: 30px;
    }
  }
  &__account-icon-color {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    border-radius: 10px;
  }
  &__account-name {
    color: $dark;
    font-size: 1.2rem;
  }
  &__account-type {
    margin: 0 0 0 15px;
    font-size: 15px;
  }
  &__details {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  &__name {
    flex: 4;
    color: $dark;
    font-size: 1.2rem;
  }
  &__action {
    flex: 4;
    color: $danger;
  }
}
