.lf-c-accounts {
  &__item {
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all ease-in-out 0.3s;
    p {
      margin: 0;
    }

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
  }
  &__item-name {
    flex: 2;
    p {
      margin: 0;
    }
  }
  &__item-balance {
    padding-right: 15px;
    flex: 1;
    text-align: right;
  }
  &__item-link {
    flex: 0 0 auto;
  }
}
